@model ChangePasswordViewModel
@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="ChangePassword" asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Update Password</button>
    </div>
</form>


