@using DWB.Models;
@model DWB.Models.MasterUserTab
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<main class="main-wrapper">
	<div class="main-content">
		<div class="row cols-12">
			<div class="col">
				<h6 class="mb-0 text-uppercase">ALL USER MASTERS</h6>
				<hr>
				<div class="card">
					<div class="card-body">
						<ul class="nav nav-pills mb-3" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link pill"
								   href="#primary-pills-PermTab" role="tab">
									<div class="d-flex align-items-center">
										<div class="tab-icon">
											<i class="bi bi-"></i>
										</div>
										<div class="tab-title"> </div>
									</div>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link @(TempData["ActiveTab"]?.ToString() == "UserTab" ? "active" : "")" data-bs-toggle="pill"
								   href="#primary-pills-usermaster" role="tab" aria-selected="@(TempData["ActiveTab"]?.ToString() == "UserTab" ? "true" : "false")">
									<div class="d-flex align-items-center">
										<div class="tab-icon">
											<i class="fadeIn animated bx bx-user"></i>
										</div>
										<div class="tab-title">User Master</div>
									</div>
								</a>
							</li>								
					   </ul>  

						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show" id="primary-pills-PermTab" role="tabpanel">								
							</div>
						    <div class="tab-pane fade show @(TempData["ActiveTab"]?.ToString() == "UserTab" ? "active" : "")" id="primary-pills-usermaster" role="tabpanel">
								@await Html.PartialAsync("_AllUser", Model.AllUsers)
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div id="modal-content-placeholder"></div>
			</div>
		</div>
	</div>
</div>
@section Scripts {

	<script src="/assets/js/dashboard2.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="~/assets/js/jquery.min.js"></script>
	<!--bootstrap js-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>	
	<script type="text/javascript">		
	   $(document).ready(function () {
	       $('#usersTable').DataTable({
	                pageLength: 50,
	                lengthChange: true,
	                ordering: true,
	                language: {
	                    searchPlaceholder: "Search users..."
	                }
	            });
	       });
		$(document).on("click", "#btnCreateNew, .open-modal", function (e) {
				e.preventDefault();
				var url = $(this).data("url");

				$.get(url, function (data) {
					$("#modal-content-placeholder").html(data);
					$("#newModal").modal("show");

					// parse validation
					$.validator.unobtrusive.parse("#userForm");
					$.validator.unobtrusive.parse("#createPermissionForm");
				});
			});

			// Handle form submission diet master
		$(document).on("submit", "#userForm", function (e) {
			e.preventDefault();
			  var checkedCount = $("input[name='SelectedCompanyIds']:checked").length;
		if (checkedCount === 0) {
			e.preventDefault();
			$("span[data-valmsg-for='SelectedCompanyIds']").text("Please select at least one company.");
		}
			var form = $(this);

			if (!form.valid()) return;

			$.ajax({
				url: form.attr("action"),
				method: "POST",
				data: form.serialize(),
				headers: {
					//This sends the anti-forgery token from the hidden input
					'RequestVerificationToken': form.find('input[name="__RequestVerificationToken"]').val()
				},
				success: function (result) {
					if (result.success) {
						$("#newModal").modal("hide");
						location.reload();
					} else {
						$("#modal-content-placeholder").html(result);
						$.validator.unobtrusive.parse("#userForm");
					}
				}
			});
		});
			
	</script>

}

