@model DWB.Models.TblModules

<div class="modal-header bg-primary">
    <h5 class="modal-title">@(Model?.IntId > 0 ? "Edit Module" : "Create Module")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="card">
    <div class="card-body">
        <form id="moduleForm" asp-action="@(Model?.IntId > 0 ? "ModuleEdit" : "ModuleCreate")" asp-controller="Master" method="post">
            <div class="modal-body">
                @if (Model?.IntId > 0)
                {
                    <input type="hidden" asp-for="IntId" />
                }
                <div class="mb-3">
                    <label class="form-label">Master Module:</label>
                    <input asp-for="VchMasterModule" required class="form-control" placeholder="Enter master module name" />
                    <span asp-validation-for="VchMasterModule" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Module:</label>
                    <input asp-for="VchModule" required class="form-control" placeholder="Enter module name" />
                    <span asp-validation-for="VchModule" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Sub Module:</label>
                    <input asp-for="VchSubModule" required class="form-control" placeholder="Enter sub module name" />
                    <span asp-validation-for="VchSubModule" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>


